<footer class="s-footer">
    <div class="s-container">
        <ul class="s-footer-row">
            <li class="s-footer-element">
                <span>ООО НПФ «Тайфун-Заря» © 2022 </span>
            </li>
            <li class="s-footer-element">
                <a href="" class="s-footer-link">
                    <img src="img/dest/icon-mark.svg" alt="">
                    <span>248018, РФ, г. Калуга, Грабцевское шоссе, д. 20, пом. 18</span>
                </a>
            </li>
            <li class="s-footer-element">
                <a href="" class="s-footer-link">
                    <img src="img/dest/icon-envilope.svg" alt="">
                    <span><strong>info@npftz.ru</strong></span>
                </a>
            </li>
            <li class="s-footer-element">
                <a href="" class="s-footer-link">
                    <img src="img/dest/icon-phone.svg" alt="">
                    <span><strong>+7-910-517-71-17</strong></span>
                </a>
            </li>
        </div>
    </div>
</footer>
<script src="js/custom.min.js"></script>