<header class="s-header">
    <div class="s-container">
        <div class="s-header-row">
            <div class="s-header-burger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        <a href="/" class="s-header-logo">
            <picture>
                <source srcset="img/dest/logo.mb.svg" media="(max-width: 768px)">
                <img src="img/dest/logo.svg" alt="">
            </picture>
        </a>
        <nav class="s-header-menu">
            <ul class="s-header-menu-list">
                <li class="s-header-menu-element s-has-dropdown  s-active">
                    <a href="" class="">О компании</a>
                    <ul class="s-header-menu-dropdown-list">
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Производство ленточных пил</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Фрезерная обработка</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Токарная обработка</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Изготовление деталей по чертежам заказчика</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Изготовление инструмента</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Восстановление металлорежущего инструмента</a>
                        </li>
                    </ul>
                </li>
                <li class="s-header-menu-element s-has-dropdown">
                    <a href="" class="">Партнеры</a>
                    <ul class="s-header-menu-dropdown-list">
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Производство ленточных пил</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Фрезерная обработка</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Токарная обработка</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Изготовление деталей по чертежам заказчика</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Изготовление инструмента</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Восстановление металлорежущего инструмента</a>
                        </li>
                    </ul>
                </li>
                <li class="s-header-menu-element s-has-dropdown">
                    <a href="" class="">Каталоги</a>
                    <ul class="s-header-menu-dropdown-list">
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Производство ленточных пил</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Фрезерная обработка</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Токарная обработка</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Изготовление деталей по чертежам заказчика</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Изготовление инструмента</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Восстановление металлорежущего инструмента</a>
                        </li>
                    </ul>
                </li>
                <li class="s-header-menu-element s-has-dropdown">
                    <a href="" class="">Производство</a>
                    <ul class="s-header-menu-dropdown-list">
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Производство ленточных пил</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Фрезерная обработка</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Токарная обработка</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Изготовление деталей по чертежам заказчика</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Изготовление инструмента</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Восстановление металлорежущего инструмента</a>
                        </li>
                    </ul>
                </li>
                <li class="s-header-menu-element s-has-dropdown">
                    <a href="" class="">Контакты</a>
                    <ul class="s-header-menu-dropdown-list">
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Производство ленточных пил</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Фрезерная обработка</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Токарная обработка</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Изготовление деталей по чертежам заказчика</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Изготовление инструмента</a>
                        </li>
                        <li class="s-header-menu-dropdown-element">
                            <a href="" class="">Восстановление металлорежущего инструмента</a>
                        </li>
                    </ul>
                </li>
                <li class="s-header-menu-element">
                    <a href="" class="">Новости</a>
                </li>
            </ul>
        </nav>
        <a href="" class="s-btn s-header-callback">Оставить заявку</a>
        </div>
    </div>
</header>